* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: cornsilk;
  width: 100%;
  height: 100%;
}

.form-control {
  width: 40%;
}
.title p {
  font-weight: 700;
  text-transform: uppercase;
}
.container {
  padding: 15%;
}
.label {
  display: block;
}
